{{ if .Site.Data.homepage.pricing.enable }}
<section class="section" id="pricing">
  <div class="container">
    <div class="row d-flex flex-column flex-md-row">
      <div class="d-flex col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6 flex-column">
	<h2>{{.Site.Data.homepage.pricing.title}}</h2>
	<p>{{.Site.Data.homepage.pricing.subtitle}}</p>
	<small>einmalig nur</small>
	<h3>{{.Site.Data.homepage.pricing.price}} €</h3>
	<p>
	Dafür erhalten Sie:
	<ul class="list-group">
	  {{range .Site.Data.homepage.pricing.services}}
	  <li class="list-group-item">
	    {{.}}
	  </li>
	  {{end}}
	</ul>
	</p>
	<p class="lead d-flex">
	<a
	  href="/checkout"
	  class="btn btn-primary"
	  >
	  <i class="bi-cart-plus"></i>
	  {{.Site.Data.homepage.pricing.button.btnText}}
	</a>
	</p>
      </div>
      <div class="d-flex about__profile-picture col-12 col-md-6">
	<img class="lozad img-responsive image-right-overflow"
	     src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2004&q=80"/>
      </div>
    </div>
  </div>
</section>
{{ end }}
